@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

* {
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HEADER STYLE STARTS */
html {
	font-family: 'Open Sans', segoe UI, sans-serif;
	scroll-behavior: smooth;
}
a:hover {
	text-decoration: none;
}

/* background*/
.light-bg {
	background: rgba(196, 196, 196, 0.1);
}
#header {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

#header #logo img {
	width: 100%;
}

#header {
	display: flex;
}

.header-1 {
	flex-basis: 30%;
}
.header-2 {
	flex-basis: 70%;
}

/* Button */
.btn-custom {
	background: #00aeff;
	color: #fff;
}
.btn-custom:hover {
	background: #0097dd;
	color: #fff;
}

.nav_button {
	position: absolute;
	right: 5px;
	top: 30px;
}
.nav_button:hover,
.nav-link:hover {
	color: #00aeff;
	opacity: 0.8;
}
.nav_button .nav_button_bar {
	background-color: black;
	width: 26px;
	height: 4px;
	margin-bottom: 4px;
}
.menu_bar {
	display: none;
	text-align: right;
	width: 100%;
}
.nav-link {
	color: #474747;
	font-size: 1rem;
	line-height: 22px;
	width: 100%;
	font-weight: normal;
	margin-left: -20px;
}
.height {
	height: 245px;
}

.more {
	display: none;
}

.float_right {
	float: right;
}

/* Typography*/
.h2-text {
	font-size: 1.4rem;
	font-weight: bold;
	color: #084482;
}

.h2-text + p {
	font-size: 1rem;
}

/* Images*/
.project-screengrab {
	width: 80%;
	margin: 20px 0px;
}
/*FOOTER STYLING */
#footer {
	background-color: #fafafa;
}
#footer #footer-logo {
	width: 280px;
}

.footer-nav {
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer-nav h2 {
	font-style: normal;
	font-size: 1.3rem;
	line-height: 34px;
	margin-bottom: 5px;
}
button a {
	color: #fff;
}
button a:hover {
	color: #fff;
}
.footer-nav #link-list a {
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 27px;
	color: #00aeff;
	display: block;
}

#footer .footer-section a {
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 28px;
	color: #737373;
}

#footer #socials img {
	width: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.copyright {
	text-align: center;
}

/*Alignment*/

.space-left {
	padding-left: 4%;
}

.space-right {
	padding-right: 4%;
}
#footer {
	padding: 50px 20px;
}
#link-list a {
	margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 571px) {
	#img {
		display: none;
	}
}
@media screen and (min-width: 572px) {
	* {
		font-size: 18px;
	}
	#img {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		width: 280px;
	}
	/*Alignment*/

	.space-left,
	.space-right {
		padding-left: 4%;
	}

	.margin {
		margin-top: 3%;
	}

	#footer {
		padding: 50px 20px;
	}
}

@media screen and (max-width: 768px) {
	#footer,
	.footer-nav,
	.flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 769px) {
	.footer-nav h2 {
		margin-bottom: 20px;
	}
}
@media screen and (min-width: 940px) {
	* {
		font-size: 18px;
	}
	#img {
		width: 55%;
	}

	#header {
		display: flex;
	}

	.header-1 {
		flex-basis: 30%;
	}
	.header-2 {
		flex-basis: 70%;
	}
	#header img {
		width: 100px;
	}

	.nav_button {
		display: none;
	}

	.menu_bar {
		display: block;
		width: auto;
		float: none;
		text-align: right;
	}

	.menu_bar .nav-link {
		display: inline;
		min-width: 150px;
	}

	.menu_bar .float_right {
		float: none;
	}
	/*Alignment*/

	.space-left {
		padding-left: 8%;
	}

	.space-right {
		padding-right: 8%;
	}
}
@media screen and (min-width: 1199px) {
	* {
		font-size: 20px;
	}
	#img {
		width: 650px;
	}
}
